# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Environment variables & Private Keys (NEVER COMMIT OR SHARE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
src/firebaseConfig.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
android-gateway/obj/
android-otp-relay/obj/
android-otp-relay/bin/
*.log
